<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="icon" type="image/x-icon" href="/favicon.ico">
    <title>Error</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/style.css">
</head>
<body>
<div th:replace="~{navigation :: mainNav}"></div>
<h1>An error occurred</h1>
<p th:text="${message}"></p>
<div th:if="${showDetails}">
    <h2>Error Details</h2>
    <pre th:text="${details}"></pre>
</div>
<a href="/">Back to Landing Page</a>
</body>
</html>
