<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="icon" type="image/x-icon" href="/favicon.ico">
    <title th:text="${securityControl.id == null ? 'Create Security Control' : 'Edit Security Control'}">Security Control</title>
    <meta charset="UTF-8">
    <th:block th:replace="~{fragments/theme-css :: themeCss}" />
    <th:block th:replace="~{navigation :: navHead}"></th:block>
</head>
<body>
    <div th:replace="~{navigation :: mainNav}"></div>
    <div class="container">
        <div class="entity-edit-frame entity-edit-frame-wide">
            <th:block th:replace="~{edit-security-control}"></th:block>
        </div>
    </div>
    <script src="/general.js"></script>
    <script src="/authorization.js"></script>
    <script>
    // In standalone page context, closeEditModal() navigates back using returnUrl
    function closeEditModal() {
        var input = document.getElementById('returnUrlInput');
        window.location.href = (input && input.value) ? input.value : '/security-control/list';
    }
    </script>
</body>
</html>
